<a href="https://colab.research.google.com/github/shreejitp/Preprocesing/blob/main/StringEncoder_withlabels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
from sklearn import datasets

The goal here is process categorical features and end up with encoded features with appropriate label names.

Loading the data

In [19]:
# Data can be found here--> https://www.kaggle.com/sakshigoyal7/credit-card-customers
# I am pulling from my Google Drive 
import pandas as pd
dt=pd.read_csv("/content/drive/MyDrive/Data_Science/Datasets/BankChurners.csv")

In [ ]:
dt

       CLIENTNUM  ... Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0      768805383  ...                                           0.999910
1      818770008  ...                                           0.999940
2      713982108  ...                                           0.999980
3      769911858  ...                                           0.999870
4      709106358  ...                                           0.999980
...          ...  ...                                                ...
10122  772366833  ...                                           0.999810
10123  710638233  ...                                           0.004729
10124  716506083  ...                                           0.002118
10125  717406983  ...                                           0.003294
10126  714337233  ...                                           0.003377

[10127 rows x 23 columns]

In [21]:
dt.dtypes

CLIENTNUM                                                                                                                               int64
Attrition_Flag                                                                                                                         object
Customer_Age                                                                                                                            int64
Gender                                                                                                                                 object
Dependent_count                                                                                                                         int64
Education_Level                                                                                                                        object
Marital_Status                                                                                                                         object
Income_Category                                                                                                                        object
Card_Category                                                                                                                          object
Months_on_book                                                                                                                          int64
Total_Relationship_Count                                                                                                                int64
Months_Inactive_12_mon                                                                                                                  int64
Contacts_Count_12_mon                                                                                                                   int64
Credit_Limit                                                                                                                          float64
Total_Revolving_Bal                                                                                                                     int64
Avg_Open_To_Buy                                                                                                                       float64
Total_Amt_Chng_Q4_Q1                                                                                                                  float64
Total_Trans_Amt                                                                                                                         int64
Total_Trans_Ct                                                                                                                          int64
Total_Ct_Chng_Q4_Q1                                                                                                                   float64
Avg_Utilization_Ratio                                                                                                                 float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    float64
dtype: object

In [24]:
dt.value_counts(['Attrition_Flag','Marital_Status','Education_Level'])

Attrition_Flag     Marital_Status  Education_Level
Existing Customer  Married         Graduate           1266
                   Single          Graduate            995
                   Married         High School         812
                   Single          High School         664
                   Married         Unknown             576
                                   Uneducated          563
                   Single          Unknown             508
                                   Uneducated          484
                   Married         College             396
                   Single          College             323
Attrited Customer  Married         Graduate            213
Existing Customer  Married         Post-Graduate       206
Attrited Customer  Single          Graduate            202
Existing Customer  Unknown         Graduate            191
                   Divorced        Graduate            189
                   Married         Doctorate           159
                   Single          Post-Graduate       154
                                   Doctorate           147
Attrited Customer  Married         High School         137
Existing Customer  Unknown         High School         125
Attrited Customer  Single          High School         118
Existing Customer  Divorced        Uneducated          116
Attrited Customer  Single          Unknown             113
                   Married         Unknown             112
Existing Customer  Divorced        High School         106
Attrited Customer  Single          Uneducated          102
Existing Customer  Unknown         Unknown              99
Attrited Customer  Married         Uneducated           93
Existing Customer  Unknown         Uneducated           87
                   Divorced        Unknown              80
                                   College              75
Attrited Customer  Married         College              71
Existing Customer  Unknown         College              65
Attrited Customer  Single          College              63
                   Married         Doctorate            46
                                   Post-Graduate        37
                   Unknown         Graduate             36
                   Divorced        Graduate             36
                   Single          Doctorate            35
                                   Post-Graduate        35
Existing Customer  Divorced        Post-Graduate        33
                   Unknown         Post-Graduate        31
Attrited Customer  Unknown         High School          29
Existing Customer  Divorced        Doctorate            28
Attrited Customer  Divorced        High School          22
                   Unknown         Uneducated           22
Existing Customer  Unknown         Doctorate            22
Attrited Customer  Divorced        Uneducated           20
                                   Unknown              16
                   Unknown         Unknown              15
                                   Post-Graduate        12
                   Divorced        College              11
                   Unknown         College               9
                   Divorced        Post-Graduate         8
                                   Doctorate             8
                   Unknown         Doctorate             6
dtype: int64

In [30]:
df=dt[['Attrition_Flag','Marital_Status','Education_Level']]

In [25]:
# Using a more customized Wrapper to get column names appended in the dataframe  
from sklearn.preprocessing import OneHotEncoder as SklearnOneHotEncoder

class OneHotEncoder(SklearnOneHotEncoder):
    def __init__(self, **kwargs):
        super(OneHotEncoder, self).__init__(**kwargs)
        self.fit_flag = False

    def fit(self, X, **kwargs):
        out = super().fit(X)
        self.fit_flag = True
        return out

    def transform(self, X, **kwargs):
        sparse_matrix = super(OneHotEncoder, self).transform(X)
        new_columns = self.get_new_columns(X=X)
        d_out = pd.DataFrame(sparse_matrix.toarray(), columns=new_columns, index=X.index)
        return d_out

    def fit_transform(self, X, **kwargs):
        self.fit(X)
        return self.transform(X)

    def get_new_columns(self, X):
        new_columns = []
        for i, column in enumerate(X.columns):
            j = 0
            while j < len(self.categories_[i]):
                new_columns.append(f'{column}_{self.categories_[i][j]}')  # Here is the naming_convention 
                j += 1
        return new_columns

In [31]:
cols=df.columns
enc = OneHotEncoder()
enc_df=enc.fit_transform(df[cols])

In [33]:
# Encoded Features
enc_df

       Attrition_Flag_Attrited Customer  ...  Education_Level_Unknown
0                                   0.0  ...                      0.0
1                                   0.0  ...                      0.0
2                                   0.0  ...                      0.0
3                                   0.0  ...                      0.0
4                                   0.0  ...                      0.0
...                                 ...  ...                      ...
10122                               0.0  ...                      0.0
10123                               1.0  ...                      1.0
10124                               1.0  ...                      0.0
10125                               1.0  ...                      0.0
10126                               1.0  ...                      0.0

[10127 rows x 13 columns]

In [34]:
# Joining the encoded features to the master dataset
df.join(enc_df)

          Attrition_Flag  ... Education_Level_Unknown
0      Existing Customer  ...                     0.0
1      Existing Customer  ...                     0.0
2      Existing Customer  ...                     0.0
3      Existing Customer  ...                     0.0
4      Existing Customer  ...                     0.0
...                  ...  ...                     ...
10122  Existing Customer  ...                     0.0
10123  Attrited Customer  ...                     1.0
10124  Attrited Customer  ...                     0.0
10125  Attrited Customer  ...                     0.0
10126  Attrited Customer  ...                     0.0

[10127 rows x 16 columns]